* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#header {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 600px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 20px;
}

#sketchArea {
    width: 800px;
    display: flex;
    justify-content: space-between;
}

#grid-container {
    width: 600px;
    height: 600px;
    border: 2px solid rgba(0, 0, 0, 0.446);
    padding: 10px;
    display: flex;
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 580px;
    border: 1px dotted rgb(184, 184, 184);
}

.row-column:hover {
    background-color: bisque;
}

.row-column {
    height: 580px;
    border: 1px dotted rgb(184, 184, 184);
    display: flex;
    flex: 1;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.circle {
    width: 100px;
    height: 100px;
    border: 2px dotted black;
    border-radius: 100px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

button {
    border-style: none;
    background-color: transparent;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.circle:hover {
    border: 3px solid rgb(22, 184, 22);
}